a:link {
    color: lightseagreen;
}
a:visited {
    color: green;
}
a:hover {
    color: yellow;
}
a:active {
    color: greenyellow;
}
body {
    text-align: center;
    background-color: lightgreen;
    font-family:sans-serif;
    color: green;
   
}

header {
    margin-top: 0;
}

nav {
    text-align: center;

    
    
}

li {
    display: block;
}

hr {
    height: 2px;
    background-color: green;
    border-color: green;
}
h1 {
    padding-bottom: 2.5%;
    padding-top: 2.5%;
    background-color: greenyellow;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-style: solid;
    border-color: green;
    color: green;
    max-width: 500px;
}

.checkbox {
    width: 50%;
    
    background-color: greenyellow;
    border-style: solid;
    border-width: 5px;
    max-width: 600px;
}

.image {
    
    width: 47%;
    
    background-color: greenyellow;
    border-style: solid;
    border-width: 5px;
    max-width: 600px;
}

/* Frog! */

main {
    width: 80%;
    background-color: greenyellow;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

}

.info p{
    display: inline-block;
}

.froginfo {
    text-align: left;
    width: 75%;
}

.number {
    text-align: right;
    width: 25%;
}

.frogtitle {
    margin-top: 20px;
}



label {
    display: block;
}


fieldset {
    border: 0;
    padding-bottom:5px;

    margin: 10px;
}

fieldset:not(last-of-type) {
    border-bottom: 2px dotted green;
}

.finish {
    border-bottom: 2px dotted green;
    padding-bottom: 20px;
    margin: 10px;
}

.select {
    padding-bottom: 2px;
}